{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>Review</h1>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      {% for rev in review %}
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ rev.title }}</h5>
          <p class="card-text">{{ rev.subtitle }}</p>
          <p class="card-text">
            <small class="text-muted">{{ rev.created_at}}</small>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}