<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"/>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/mainstyle.css' %}">
  </head>

  <body>
    <!-- Ref https://www.reddit.com/r/javascript/comments/dolagh/apple_airpods_pro_page_uses_a_lot_of_images_so_i/ -->
    <section>
      <video id="video" playsinline="playsinline" poster="https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/945eec79-6856-4d95-b4c6-83ff5292f33d/KR-ko-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg">
        <source src="https://assets.nflxext.com/ffe/siteui/vlv3/9737377e-a430-4d13-ad6c-874c54837c49/945eec79-6856-4d95-b4c6-83ff5292f33d/KR-ko-20220111-popsignuptwoweeks-perspective_alpha_website_large.jpg" type="jpg">
        Your browser does not support the video tag.
      </video>
      <div class="scroll-dummy">
        <h1>영화 리뷰 보고싶나여?</h1>
        <a href="{% url 'reviews:index' %}">리뷰 보기</a>
        <p>
          우리는 예지, 정아, 유영을 가졌습니다 👍
        </p>
      </div>
    </section>

    <script>
      var FRAMES = 148;
      var FPS = 30;
      var video = document.getElementById('video');

      window.addEventListener('scroll', function (e) {
        var time = (window.scrollY / 1000) * FRAMES / FPS;
        video.currentTime = time;
        console.log(time);
        // alert('Hizo scroll')
      });

      window.addEventListener('load', function (e) {
        video.pause();
        video.currentTime = 0;
      });
    </script>
  </body>

</html>
